<script>
import { GlButton, GlLink } from "@gitlab/ui";

export default {
  name: "DocsNavbar",
  components: {
    GlButton,
    GlLink,
  },
};
</script>

<template>
  <header class="gl-px-5 navbar navbar-dark">
    <gl-link
      class="navbar-brand gl-flex gl-items-center gl-justify-center"
      href="/"
    >
      <img
        alt="GitLab logo"
        class="logo"
        src="../assets/gitlab-logo-header.svg"
      />
      <span class="gl-border-l gl-ml-3 gl-pl-3 gl-text-lg">Docs Archives</span>
    </gl-link>
    <gl-button
      href="https://docs.gitlab.com"
      class="!gl-bg-theme-indigo-500 !gl-text-white !gl-shadow-none xs:gl-hidden"
      >Visit the main documentation site
    </gl-button>
  </header>
</template>
