<script>
import { GlLink } from "@gitlab/ui";

export default {
  name: "DocsFooter",
  components: {
    GlLink,
  },
  data() {
    return {
      links: [
        {
          text: "About GitLab",
          url: "https://about.gitlab.com/company",
        },
        {
          text: "View page source",
          url: "https://gitlab.com/gitlab-org/gitlab-docs-archives",
        },
        {
          text: "Privacy Policy",
          url: "https://about.gitlab.com/privacy",
        },
        {
          text: "Cookies Policy",
          url: "https://about.gitlab.com/privacy/cookies",
        },
        {
          text: "Please contribute",
          url: "https://about.gitlab.com/community/contribute/",
        },
        {
          text: "Creative Commons License",
          url: "https://creativecommons.org/licenses/by-sa/4.0/",
        },
      ],
    };
  },
};
</script>

<template>
  <footer class="gl-text-center gl-py-4 gl-mt-auto gl-w-full">
    <gl-link
      v-for="link in links"
      :key="link.url"
      :href="link.url"
      class="!gl-text-white !gl-hover:text-white gl-mx-4"
      >{{ link.text }}
    </gl-link>
  </footer>
</template>
