<script>
import DocsNavbar from "./docs_navbar.vue";
import DocsFooter from "./docs_footer.vue";

export default {
  components: {
    DocsNavbar,
    DocsFooter,
  },
};
</script>

<template>
  <div
    class="page-not-found gl-bg-gray-50 gl-h-screen gl-overflow-hidden gl-flex gl-flex-col"
  >
    <docs-navbar />
    <div class="gl-text-center gl-mt-11">
      <h1>
        We're sorry, no page exists at this address.
      </h1>
      <ul class="gl-list-none gl-pl-0">
        <li class="gl-inline-block">
          <a href="https://docs.gitlab.com/search/">Search the latest docs</a>
        </li>
        <li class="gl-inline-block">
          <a href="https://docs.gitlab.com/ee/">Browse the latest docs</a>
        </li>
        <li class="gl-inline-block">
          <a href="https://archives.docs.gitlab.com">Browse archived docs</a>
        </li>
      </ul>
    </div>
    <docs-footer />
  </div>
</template>
