@use '@gitlab/ui/src/scss/gitlab_ui';
@use '@gitlab/ui/src/scss/mixins';
@use 'variables' as *;
@use "../../tailwind.css";

a {
  color: $blue-700;
}
.navbar {
  min-height: 3rem;
  background-color: $purple-900;
}
.navbar span {
    border-color: rgba(255,255,255,.32);
}
h1 {
  font-size: 3rem;
  line-height: 3.25rem;
  font-weight: 700;
  letter-spacing: -.05rem;
  color: $purple-900;
}
p {
  margin: 0 auto;
}
footer {
    background-color: $purple-500;
}

.gl-block,
.gl-block\! {
  display: block !important;
}
.gl-absolute {
  position: absolute;
}

// 404 page.
li.gl-inline-block:not(:last-child)::after {
  content: "•";
  margin: 0 0.5rem;
}
.page-not-found {
  h1 {
    // Original: gl-font-size-h1-xl - No longer works.
    font-size: 2rem !important;
  }
}