<script>
import { GlAlert, GlCollapsibleListbox } from "@gitlab/ui";
import DocsNavbar from "./components/docs_navbar.vue";
import DocsFooter from "./components/docs_footer.vue";

const ARCHIVE_VERSIONS_ENDPOINT =
  "https://archives.docs.gitlab.com/archive_versions.json";

export default {
  components: {
    GlAlert,
    GlCollapsibleListbox,
    DocsNavbar,
    DocsFooter,
  },
  data() {
    return {
      versionOptions: [],
      selected: null,
    };
  },
  async created() {
    // Build the version option list for the dropdown.
    const versions = await this.getArchiveVersions();

    this.versionOptions = versions
      .map((version) => ({
        value: version,
        text: version,
      }))
      .reverse();

    // Add a placeholder option, and set it as the selected item in the dropdown.
    this.versionOptions.unshift({ value: "", text: "Select a version" });
    this.selected = this.versionOptions[0].value;
  },
  methods: {
    async getArchiveVersions() {
      const versions = await fetch(ARCHIVE_VERSIONS_ENDPOINT)
        .then((response) => response.json())
        .catch((error) => console.error(error));
      return versions || [];
    },
    redirectToArchive(selected) {
      window.location.href = `https://${window.location.host}/${selected}/`;
    },
  },
};
</script>

<template>
  <div
    id="app"
    class="gl-bg-gray-50 gl-h-screen gl-overflow-hidden gl-flex gl-flex-col"
  >
    <docs-navbar />

    <main class="container gl-pt-9 gl-mb-9 gl-text-center">
      <gl-alert variant="warning" :show-icon="false" :dismissible="false"
        >The documentation on this site is for older versions of GitLab. For the
        current stable and pre-release versions, visit the
        <a href="https://docs.gitlab.com">main documentation site</a>.
      </gl-alert>

      <h1 class="gl-pt-9">GitLab Docs Archives</h1>
      <p class="gl-w-70p gl-py-5">
        Browse older versions of the GitLab documentation by selecting a version
        below.<br />
        You can also
        <a href="https://docs.gitlab.com/administration/docs_self_host/"
          >host your own GitLab Docs instance</a
        >.
      </p>

      <gl-collapsible-listbox
        v-model="selected"
        :items="versionOptions"
        @select="redirectToArchive(selected)"
      />
    </main>

    <docs-footer />
  </div>
</template>
